
*.meta
.vs/PengFramework/FileContentIndex/2bcc46c1-d7c4-4e73-a3b8-8d8c028934ad.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/PengFramework/FileContentIndex/667987bf-2bff-4c3b-89bb-a4c38aad91c2.vsidx
/.vs
